@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
  --color1: #fcaf17;
  --color2: rgba(23, 180, 83, 0.877);
  --color3: rgba(11,194,211, 0.623);
  --fondo: #f2f2f2;
  --titulos: 33px;
  --margenes: 60px;
  --espacios: 10px;
  --espacios-contenido:45px;
}
/*Body*/
body{

    background-color: #0b0b0b;
    background-image: url(../Imagenes/background.jpg);
}

p{
margin-bottom: 1.6rem;
}

/*Fondo*/
    
.fondo{
position: relative;
width: 100%;
height: 100vh;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
}

.fondo img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
pointer-events: none;
}

.fondo::before{
content: '';
position: absolute;
bottom: 0;
width: 100%;
height: 100px;
z-index: 10000;
}

.fondo::after{
content: '';
position: absolute;
top: 0;
left: 0;
height: 100px;
background: #0a2a43;
z-index: 10000;
}

#text{
position: relative;
color: #fff;
font-size: 10em;
z-index: 1;
}

#road{
z-index: 2;
}


/*header*/


.header{
background-color: black;
color: white;
padding: 1rem 0;
position: fixed;
left: 0;
line-height: 1.3rem;
font-size: 20px;
top: 0;
width: 100%;
z-index: 10;
}


.header a{
color: white;
text-decoration: none;
}


.logo-nav{
display: flex;
justify-content: space-between;
align-items: center;
}


.logo{
letter-spacing: 5px;
font-size: 1.2rem;
}

.icono-menu{
    margin: 1px 10px;
    position: relative;
    z-index: 10;
}

.icono-menu img{
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}

.cont-menu{
    background-color: rgb(42,42,42);
    box-shadow: 2px 0px 5px 2px rgb(66,66,66);
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
}

.activo{
    transform: translate(-600px);
}

.cont-menu ul{
    padding: 100px 0px 20px 0px;
    list-style: none;
}

.cont-menu ul li{
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
}

.cont-menu ul li:hover{
    color: rgb(42,42,42);
}


/*Menu*/

.navegation ul li a:hover{
color: #fcaf17;
}

    
/*Main*/

main{
margin-top: 7rem;
margin: 7rem;

}

main .container{
color: #fff;
}


.texto {
  margin: 0 0 0 30px;
  color: #fcaf17;
}

.texto p{
  color: #fff;
  text-align: center;
}

.contenedor{
  margin:auto;
  padding: var(--margenes) 0;
  width: 90%;
  max-width: 1000px;
  text-align: center;
}

.contenedor h3{
  font-size: var(--titulos);
  color: var(--color1);
  margin-bottom: var(--espacios);
}

.contenedor p{
  font-size: var(--subtitulos);
  font-weight: 300;
  color: var(--color1);
}

.after::after{
  content:'';
  display: block;
  margin: auto;
  margin-top: var(--espacios);
  width: 100px;
  height: 1px;
  background: var(--color1);
  margin-bottom: var(--espacios-contenido);
}

.contenedor-articulo {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1px;
  justify-content: space-around;
}

.articulo:hover {
  transform: translateY(-15px);
  box-shadow: 0 4px 10px rgba(120, 120, 120);
}

.articulo {
  width: 35%;
  background: black;
  margin-bottom: 30px;
  border-radius: 40px;
  overflow: hidden;
  padding: 45px 30px 60px 30px;
  transition: all 0.25s;
  box-shadow: inset 5px 5px 15px rgba(0,0,0,0.15);
  
}



.articulo>h3 {
  font-size: 24px;
  margin-top: 30px;
  text-align: center;
  color: var(--color1);
}


.articulo>p {
  font-weight: 100;
  color: #fff;
  margin-top: 15px;
  padding-bottom: 20px;
  text-align: center;
}

.articulo>a {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  width: 40%;
  display: inline-block;
  background: #fff;
  text-align: center;
  color: #000;
  padding: 12px 0;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
}

.articulo>a:hover {
  transition: color .5s;
  background: #fcaf17;
}

.articulo>img{
height: 250px;
}


/*Footer*/


.footer{
background-color: #000;
position: relative;
width: 100%;
padding: 20px 50px;
}

footer .wave{
position: absolute;
top: -100px;
left: 0;
width: 100%;
height: 100px;
background: url(../Imagenes/wave.png);
background-size: 1000px 100px;
}


footer .wave#wave1{
z-index: 1000;
opacity: 1;
bottom: 0;
animation: animatewave 4s linear infinite;
}

footer .wave#wave2{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animatewave_02 4s linear infinite;
}

footer .wave#wave2{
z-index: 1000;
opacity: 0.2;
bottom: 10px;
animation: animatewave 4s linear infinite;
}

footer .wave#wave2{
  z-index: 999;
  opacity: 0.7;
  bottom: 10px;
  animation: animatewave_02 4s linear infinite;
  }

@keyframes animatewave{

 0%{

  background-position-x: 1000px;
 }
 100%{

  background-position-x: 0px;
 }

}

@keyframes animatewave_02{

  0%{
 
   background-position-x: 0px;
  }
  100%{
 
   background-position-x: 1000px;
  }
 
 }

footer .container{
width: 40%;
justify-content: center;
display: flex;
}

footer .network{
display: flex;
position: relative;
justify-content: center;
align-items: center;
text-decoration: none;
width: 60px;
height: 60px;
color: #fff;
text-align: center;

}

footer .network:hover{
color: #fcaf17;
transform: scale(1.3,1.3);
transform: translateY(-10px);
}

.network i{
font-size: 2em;
line-height: 60px;
margin: 0 10px;
display: inline-block;
transition: 0.5s;

}


/*Login*/

.login-box {
  width: 350px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
  color: #fff;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #ffc107;
  color: #000;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: rgba(252,175,23,.6);
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}

/*Galeria*/


.galeria-work{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cont-work{
  width: 31%;
  height:300px;
  overflow: hidden;
  margin-bottom: var(--espacios-contenido);
  transition: all 0.25s;
  
}

.cont-work:hover{
  transform: translateY(-15px);
}

.img-work{
  height: 90%;
  width: 100%;
}

.img-work img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: solid #000;
}

.video-work{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cont-video{
  width: 40%;
  height:300px;
  overflow: hidden;
  margin-bottom: var(--espacios-contenido);
  transition: all 0.25s;
}


.img-work{
  height: 90%;
  width: 100%;
}

.img-work img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  
}

@media screen and (max-width:1000px) {

  #text{

    font-size: 5em;
  }


  .contenido-header {
      flex-direction: column;
      justify-content: space-evenly;
      height: 720px;
  }

  /*Cards*/


  .articulo {
    width: 90%;
    height: 75%;
   }

  /*Galeria*/

  .cont-work {
    width: 100%;
  }

  .img-work img{
    width: 100%;
  }

  .video-work {
    width: 100%;
  }

  .cont-video{
    width: 100%;
  }


  /* Footer */

  footer {
      justify-content: space-evenly;
  }

}

@media screen and (max-width:800px) {

  #text{

    font-size: 5em;
  }

  /*Cards*/


  .articulo {
    width: 100%;
    height: 75%;
   }
   

  /*Galeria*/

  .cont-work {
    width: 100%;
  }

  .img-work img{
    width: 100%;
  }

  .video-work {
    width: 100%;
  }

  .cont-video{
    width: 100%;
  }


  /* Footer */

  footer {
      justify-content: space-evenly;
  }

}

@media screen and (max-width:600px) {

  #text{

    font-size: 5em;
  }


  h1 {
      font-size: 40px;
  }

  .nav {
      padding: 0 10px;
  }

  .contenido-header>img {
      width: 200px;
  }

  .nav .enlaces-header a {
      color: #fff;
  }


  /*Cards*/

  .articulo {
      width: 100%;
      height: 75%;
  }

  /*Galeria*/

  .cont-work {
    width: 100%;
  }

  .img-work img{
    width: 100%;
  }

  .video-work {
    width: 100%;
  }

  .cont-video{
    width: 100%;
  }


  /* Footer */
  .partFooter {
      width: 95%;
      margin-bottom: 40px;
  }
}

@media screen and (max-width:400px) {

  body{

    padding: auto;
    margin: auto;
  }

  #text{

    font-size: 5em;
  }


  h1 {
      font-size: 40px;
  }

  .nav {
      padding: 0 10px;
  }

  .contenido-header>img {
      width: 200px;
  }

  .nav .enlaces-header a {
      color: #fff;
  }


  /*Cards*/

  .articulo {
      width: 100%;
  }

  /*Galeria*/

  .cont-work {
    width: 100%;
  }

  .img-work img{
    width: 100%;
  }

  .video-work {
    width: 100%;
  }

  .cont-video{
    width: 100%;
  }


  /* Footer */
  .partFooter {
      width: 95%;
      margin-bottom: 40px;
  }
}


